[["guestbook.md"          "Your First Application"  "topic"]
 ["repl.md"               "REPL Driven Development" "topic"]
 ["profiles.md"           "Application Profiles"    "topic"]
 ["integrant.md"          "Integrant"               "topic"]
 ["html_templating.md"    "HTML Templating"         "topic"]
 ["assets.md"             "Static Assets"           "topic"]
 ["clojurescript.md"      "ClojureScript"           "topic"]
 ["routes.md"             "Routing"                 "topic"]
 ["requests_responses.md" "Requests & Responses"    "topic"]
 ["middleware.md"         "Middleware"              "topic"]
 ["sessions.md"           "Sessions"                "topic"]
 ["database.md"           "Database Access"         "topic"]
 ["caching.md"            "Caching"                 "topic"]
 ["scheduling.md"         "Scheduling"              "topic"]
 ["logging.md"            "Logging"                 "topic"]
 ["testing.md"            "Testing"                 "topic"]
 ["servers.md"            "Server Tuning"           "topic"]
 ["environment.md"        "Environment Variables"   "topic"]
 ["deployment.md"         "Deployment"              "topic"]
 ["useful_libraries.md"   "Useful Libraries"        "topic"]
 ["apps.md"               "Sample Applications"     "topic"]
 ["upgrading.md"          "Upgrading"               "topic"]
 ["learning_clojure.md"   "Clojure Resources"       "topic"]

 ["kit-core.md"           "kit-core"                  "lib"]
 ["kit-hato.md"           "kit-hato"                  "lib"]
 ["kit-metrics.md"        "kit-metrics"               "lib"]
 ["kit-postgres.md"       "kit-postgres"              "lib"]
 ["kit-quartz.md"         "kit-quartz"                "lib"]
 ["kit-redis.md"          "kit-redis"                 "lib"]
 ["kit-repl.md"           "kit-repl"                  "lib"]
 ["kit-sql.md"            "kit-sql"                   "lib"]
 ["kit-undertow.md"       "kit-undertow"              "lib"]
 ["kit-xtdb.md"           "kit-xtdb"                  "lib"]
 ]
