[["guestbook.md"          "Your First Application"]
 ["repl.md"               "REPL Driven Development"]
 ["profiles.md"           "Application Profiles"]
 ["integrant.md"          "Integrant"]
 ["html_templating.md"    "HTML Templating"]
 ["assets.md"             "Static Assets"]
 ["clojurescript.md"      "ClojureScript"]
 ["routes.md"             "Routing"]
 ["requests_responses.md" "Requests & Responses"]
 ["middleware.md"         "Middleware"]
 ["sessions.md"           "Sessions"]
 ["database.md"           "Database Access"]
 ["logging.md"            "Logging"]
 ["testing.md"            "Testing"]
 ["servers.md"            "Server Tuning"]
 ["environment.md"        "Environment Variables"]
 ["deployment.md"         "Deployment"]
 ["useful_libraries.md"   "Useful Libraries"]
 ["apps.md"               "Sample Applications"]
 ["upgrading.md"          "Upgrading"]
 ["learning_clojure.md"   "Clojure Resources"]]
