{% extends "base.html" %}
{% block header %}
<div id="hero">
  <h2>Clojure Web Development For Production</h2>
  <p>
    Kit is a lightweight, modular framework for scalable web development in Clojure.
  </p>
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="column column-33">
    <div class="column-wrapper">
      <h2>Developer Friendly</h2>
      <p>
        Start hacking immediately with the REPL and embedded development server
      </p>
      <ul class="slogan">
        <li>Simple and easy to learn</li>
        <li>REPL driven development</li>
        <li>Powerful code generation tools</li>
      </ul>
    </div>
  </div>
  <div class="column column-33">
    <div class="column-wrapper">
      <h2>Productive</h2>
      <p>
        Choose productivity and performance by leveraging Clojure on the JVM
      </p>
      <ul class="slogan">
        <li>Built on top of the JVM</li>
        <li>Low overhead</li>
        <li>Compiled for production</li>
      </ul>
    </div>
  </div>
  <div class="column column-33">
    <div class="column-wrapper">
      <h2>Scalable</h2>
      <p>
        Kit is built for needs of scalable systems.
      </p>
      <br>
      <ul class="slogan">
        <li>Easily scalable horizontally</li>
        <li>Stateless web tier</li>
        <li>Support for SQL, caching, scheduling, and more</li>
      </ul>
    </div>
  </div>
</div>

<div class="column-wrapper" id="intro">
  <h4>A short podcast style introduction to Kit</h4>
  <audio controls>    
    <source src="/media/Kit-dive.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio> 
</div>

<div class="column-wrapper" id="intro">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/DFzukK5-rpU" title="Kit Intro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="column-wrapper" id="intro">
  <div width="560" height="315">
    <h3>Introductory Kit Course</h3>
    <hr>
    <p>
      This course will introduce developers to service development using Kit micro-framework. The course will cover setting up a new project, adding routes, managing resources, and working with the database.
    </p>    
    <p><b><a href="https://www.jacekschae.com/kit">https://www.jacekschae.com/kit</a></b></p>
  </div>
</div>

<div class="column-wrapper" id="easy-start">
  <p>Using <a href="https://clojure.org/guides/getting_started">Clojure tools</a>, getting started is as easy as:</p>
  <pre class="bash hljs">
    <span class="prompt">$ </span><span class="cmd">clojure -Ttools install com.github.seancorfield/clj-new '{:git/tag "v1.2.404"}' :as clj-new</span>
    <span class="prompt">$ </span><span class="cmd">clojure -Tclj-new create :template io.github.kit-clj :name yourname/guestbook</span>
  </pre>
  <h4><a href="https://github.com/kit-clj/playground/">Quickstart with Github Codespaces</a></h4>  
</div>
{% endblock %}
